body.dark-mode {
    background-color: #121212 !important;
    color: white;
}

.dark-mode .card {
    background-color: #1e1e1e;
    color: white;
}

.dark-mode .alert {
    background-color: #2c2c2c;
    color: white;
}