body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 40px;
}

.credito {
    letter-spacing: 3px;
    font-size: 14px;
    margin-bottom: 30px;
}

.card {
    background-color: white;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
}

.info p {
    margin: 15px 0;
    font-size: 18px;
    letter-spacing: 2px;
}

.imagen img {
    width: 250px;
    border-radius: 50%;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .card {
        flex-direction: column;
        text-align: center;
    }

    .imagen img {
        margin-top: 20px;
    }
}

/* Modo oscuro */
.dark-mode {
    background-color: #1c1c1c;
    color: white;
}

.dark-mode .card {
    background-color: #333;
    border: none;
}